<mat-sidenav-container fullscreen>

    <mat-toolbar color="primary">
      <span>Andy Profile</span>
      <span class="spacer"></span>
  
      <button mat-button routerLink="/home" routerLinkActive="active-button" style="font-size: 20px;">Home</button>
      <button mat-button routerLink="/about" routerLinkActive="active-button" style="font-size: 20px;">About Me</button>
      <button mat-button routerLink="/education" routerLinkActive="active-button" style="font-size: 20px;">Education & Skills</button>
      <button mat-button routerLink="/experience" routerLinkActive="active-button" style="font-size: 20px;">Experiences</button>
      <button mat-button routerLink="/project" routerLinkActive="active-button" style="font-size: 20px;">Projects</button>
    </mat-toolbar>
  
    <router-outlet></router-outlet>
  
  </mat-sidenav-container>
  
  