<div>

    <img src="assets/image/AndyBC.jpg" alt="Andy Business Casual" width="130" height="150">

    <p>Hi asa</p>
    
    <div>
        <h3>Hobbies</h3>
        <p>
            Tennis
        </p>
        <p>PickleBall</p>
        <p>Table Tennis</p>
        <p>Pokemon Go</p>
        <p>Solving Puzzle</p>
        <p>Gaming</p>
    </div>

    <div>
       <h3>Likes</h3>
       <p>Anime: Naruto FairyTail Demon Slayer Spirited Away</p>
       <p>Game: Pokemon TOTK Honkai Impact League of Legend</p>
       <p>Movies: Marvel</p>
    </div>



</div>

