<h1>Careers</h1>

<img src="assets/image/fastenal_logo.png" alt="Fastenal Logo" width="200" height="50">
<h2>Fastenal </h2>
<h3>Developr August 2023- Present </h3>
<p>This role involves designing, developing, modifying, and testing applications using languages such as C#, .NET, Java, C++, and JavaScript. Additionally, responsibilities include analyzing functional specifications, suggesting process improvements, and reviewing team members' work. Acting as a liaison with Business Analysts and the QA team to align capabilities with business needs and develop testing approaches is required. Preferred qualifications include experience with RESTful JSON web services, Oracle Databases, Continuous Integration, Continuous Delivery practices, SQL, Object-Oriented Design Patterns, Test-Driven Development, and familiarity with GIT. Strong communication, problem-solving, organizational skills, and the ability to work both independently and in a team are essential. Demonstrating ambition, innovation, integrity, and teamwork is highly valued.</p>
