<!DOCTYPE html>
<html>
<head>
    <title>Careers</title>
   

</head>
<body>
    <div class="timeline">
        <div class="card">
            <img src="assets/image/fastenal_logo.png" alt="Fastenal Logo">
            <h1>Fastenal</h1>
            <h2>Developer</h2>
            <h3>August 2023 to Present</h3>
            <p>
                Joining the dynamic team at Fastenal, I am responsible for designing, developing, and testing applications using various technologies such as C#, .NET, Java, C++, and JavaScript. I collaborate with Business Analysts and QA teams to align capabilities with business needs and implement effective testing approaches. My role includes handling RESTful JSON web services, Oracle Databases, Continuous Integration, Continuous Delivery practices, SQL, Object-Oriented Design Patterns, Test-Driven Development, and GIT. With strong communication and problem-solving skills, I strive for innovation and teamwork to deliver high-quality results.
            </p>
        </div>
    </div>
</body>
</html>

