<!DOCTYPE html>
<html>
<head>

    <title>Andy Liu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Xobn+1ZyeUIbD4wSZ8pQ/77aCn6V60LJV63Rz0wt6tDkqGbiKxwAJyA9t0R4uQtm05tP5tIkIeS48Ee/XmzjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="content">
        <div class="left-column">
            <img src="assets/image/AndyBC.jpg" alt="Andy Business Casual" width="130" height="150">
            <h1>Andy Liu</h1>
            <h4><mat-icon> mail</mat-icon> <a href="mailto:liuandy246@gmail.com"> liuandy246@gmail.com</a></h4>
            <h4><i class="fab fa-linkedin"> </i> <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"> LinkedIn</a></h4>
            <h4>        <i class="fab fa-github"> </i> 

                <a href="https://github.com/alnidu1?tab=repositories"> github.com/alnidu1</a></h4>
        </div>
        <div class="right-column">
            <p>
                I am a Software Engineer with a passion for creating full-stack applications.
                <br>
                <br>
                I have valuable experience in developing robust web applications, from the frontend to the backend. My skills extend to designing and implementing databases to ensure efficient data storage and retrieval. I enjoy tackling complex challenges and continuously learning to stay updated with the latest technologies in the dynamic world of software development. With a strong foundation in both frontend and backend technologies, I strive to create seamless and user-friendly experiences for users while maintaining a focus on performance and security.
            </p>
        </div>
    </div>
</body>
</html>
